.bar {
	background-color: rgb(21, 153, 124)/*#025b96#0267ab*//*#2d3039*/;
	position: relative;
	top: 0;
	padding: 2.4px 0.325em 2.4px 0.375em;
	line-height: 1.8em;
	flex-direction: row;
	box-shadow: 0 0 0.60em 0 rgba(0, 0, 0, 0.2);
	display: flex;
	z-index: 3;
}

#logo {
	text-decoration: none;
}

#logo p {
	font-family: "Source Code Pro";
	/*text-shadow: 2px 2px rgba(25, 29, 44, 0.15);*/
	background-color: #FFFFFF; /*#d4ecfc#dfdfec#ebebf3;*/
	font-weight: 700;
	font-size: 18px;
	color: #013c63/*#2d3039*/;
	letter-spacing: 0.15em;
	display: inline-block;
	margin-right: 0.30em;
	border-radius: 0.2em;
	padding-left: 0.5em;
	padding-right: 0.4em;
	//padding-top: 0.2em;
	margin-top: 0.4em;
	margin-bottom: 0.4em;
	transition: text-shadow 0.3s;
}

#logo p:hover {
	text-shadow: 4px 3px rgba(25, 29, 44, 0.2);
}

#logo span {
	font-size: 15px;
	font-family: "Source Code Pro";
	color: #ebebf3;
}

.bar button {
	font-family: "Comfortaa";
	color: #ebebf3;
	background-color: rgb(33, 48, 71)/*#033c61#232324#2d3039*/;
	font-size: 15px;
	border-radius: 0.2em;
	letter-spacing: 0.25em;
	border: 0;
	display: inline-block;
	height: inherit;
	line-height: inherit;
	padding: 0 0.75em;
	position: absolute;
	right: 0.6em;
	top: 0.6em;
}

#menu ul {
	display: none;
}

#menuexpanded {
	z-index: 2;
	margin: 0;
	padding: 0px;
	background-color: rgba(2, 6, 28, 0.7);
	display: block;
	box-shadow: 0 0 0.50em 0 rgba(0, 0, 0, 0.5);
	min-height: calc(100vh - 48px);
	position: fixed;
	top: 48px;
	right: 0px;
	left: 0px;
	justify-content: center;
	align-items: center;
	text-align: center;
}

#menuexpanded ul {
	margin: 0;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	display: block;
	min-height: auto;
	position: absolute;
	top: 30vh;
	right: 0px;
	left: 0px;
	justify-content: center;
	align-items: center;
	text-align: center;
}

#menuexpanded ul li {
	font-family: "Comfortaa";
	list-style-type: none;
	/*height: calc((100vh - 44.8px)/3);*/
	position: relative;
	line-height: 3em;
}

#menuexpanded ul li a {
	max-width: fit-content;
	color: #ebebf3;
	text-decoration: none;
	text-align: center;
	align-items: center;
	margin: auto;
	padding-left: 20px;
	padding-right: 20px;
	
	display: block;
	top: 50%;
	position: relative;
}

#menuexpanded ul li a strong {
	font-size: 20px;
	font-weight: 100;
	letter-spacing: 0.2em;
	/*text-shadow: 0.5px 0.5px #acacac;*/
}