.wholepage {
	padding: 30px;
	background-color: #1d1d27; /*#1d1d27#2c2e3a*/
	right: 0px;
	color: rgb(255, 255, 255);
	min-height: calc(100vh - 48px);
	position: static;
}

.wholepage div {
	margin-left: auto;
	margin-right: auto;
}

.wholepage div div {
	margin-left: auto;
	margin-right: auto;
}

.wholepage h1 {
	font-family: "Noto Sans TC", "Playfair Display";
	font-weight: 400;
	font-size: 32px;
	margin: 0px;
}
.wholepage h2 {
	font-family: "Noto Sans TC", "Playfair Display";
	font-size: 24px;
	margin-top: 20px;
	margin-bottom: 20px;
	font-weight: 300;
}
.wholepage h3 {
	font-family: "Noto Sans TC", "Playfair Display";
	font-size: 18px;
	margin-top: 10px;
	margin-bottom: 10px;
	font-weight: 100;
}
.wholepage p {
	margin-top: 5px;
	margin-bottom: 5px;
	font-weight: 400;
	font-size: 16px;
}
.wholepage ul {
	padding-left: 30px;
	list-style-type: disc;
}
.wholepage ol {
	padding-left: 30px;
	list-style-type: decimal;
}
.wholepage a {
	color: #33ccff;
}
.wholepage a:hover {
	color: #999db2;
	text-decoration: underline;
}
.wholepage ul li {
	font-family: "Noto Sans TC", "Playfair Display";
	margin-top: 5px;
	margin-bottom: 5px;
	font-weight: 300;
	font-size: 16px;
}
.wholepage ol li {
	font-family: "Noto Sans TC", "Playfair Display";
	margin-top: 5px;
	margin-bottom: 5px;
	font-weight: 100;
	font-size: 17px;
}
.wholepage pre {
	min-width: 50%;
	padding: 16px;
	margin-top: 0px;
	margin-bottom: 0px;
	border-radius: 5px;
	display: inline-block;
	/*overflow-x: auto;*/
	white-space: pre-wrap;
	background-color: rgb(42, 39, 52);
}
.wholepage code {
	font-family: "Source Code Pro", "Roboto Mono", "Noto Sans TC", source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
	background-color: rgb(42, 39, 52);
	font-weight: 300;
	font-size: 15px;
}
.wholepage blockquote {
	border-left: 10px solid #6e7391;
	margin: 1.0em 10px;
	padding: 0em 10px;
}
.wholepage strong {
	font-weight: 500;
}
.wholepage img {
	padding-top: 5px;
	padding-bottom: 5px;
}

@media (min-width: 576px) {
	.wholepage div {
		max-width: 540px;
	}
}

@media (min-width: 768px) {
	.wholepage div {
		max-width: 720px;
	}
	.wholepage div div {
		max-width: 60%%;
	}	
}

@media (min-width: 992px) {
	.wholepage div {
		max-width: 1000px;
	}
	.wholepage div div {
		max-width: 65%;
	}
}

@media (min-width: 1200px) {
	.wholepage div {
		max-width: 1140px;
	}
}