.wholepage {
	padding: 30px;
	right: 0px;
	color: aqua;
	background-color: #2f3a50;
	min-height: calc(100vh - 44.8px);
	position: static;
}

.wholepage div h1 {
	margin: 0px;
}

.wholepage pre {
	min-width: 50%;
	padding: 16px;
	margin-top: 0px;
	margin-bottom: 0px;
	border-radius: 5px;
	display: inline-block;
	/*overflow-x: auto;*/
	white-space: pre-wrap;
	background-color: rgb(79, 67, 126);
}