.wholepage{
	background-color: #3d424b;
	color: rgb(255, 255, 255);
	min-height: calc(100vh - 48px);
	padding: 20px;
	position: static;
}

.wholepage div {
	box-shadow: 0 0 0.50em 0 rgba(0, 0, 0, 0.3);
}

.wholepage div a {
	color: rgb(255, 255, 255);
	text-decoration: none;
	font-size: 30px;
	padding: 10px;
}

.wholepage div a strong {
	font-family: "Roboto Mono";
	font-weight: 400;
}

.wholepage div p {
	font-family: "Roboto Mono";
	margin-top: 0px;
	margin-bottom: 30px;
	padding: 10px;
}