.Home {
	top: 0px;
	position: static;
	background-color: rgb(33, 48, 71)/*#2c2e3a*/;
	min-height: calc(100vh - 48px);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	z-index: 1;
	color: white;
}

.Home h1 {
	font-family: "Roboto Mono";
	margin-bottom: 15px;
}

.Home p {
	font-family: "Roboto Mono";
}