.Project {
	background-color: rgb(33, 48, 71)/*#02061c#2c2e3a*/; /*#3d424b*/
	color: rgb(255, 255, 255);
	min-height: calc(100vh - 48px);
	padding: 30px;
	position: static;
}

.Project div {
	padding-bottom: 50px;
	margin-left: auto;
	margin-right: auto;
}

.Project div h1 {
	font-family: "Noto Sans TC";
	margin-top: 0px;
}

.Project div h2 {
	font-family: "Noto Sans TC";
}

.Project div ul {
	font-family: "Noto Sans TC";
	font-size: 20px;
}

.Project div a {
	font-family: "Roboto Mono", "Source Code Pro";
	color: rgb(80, 171, 250);
	text-decoration: none;
	font-size: 20px;
	text-shadow: 1px 1px rgb(6, 96, 175);
}

@media (min-width: 576px) {
	.Project div {
		max-width: 85%;
	}
}

@media (min-width: 768px) {
	.Project div {
		max-width: 80%;
	}
}

@media (min-width: 992px) {
	.Project div {
		max-width: 60%;
	}
}

@media (min-width: 1200px) {
	.Project div {
		max-width: 50%;
	}
}